<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
  <tr>
    <td align ="center"><%= @landmark.name %></td>
    <td align ="center"><%= @landmark.year_completed %></td>
  </tr>
  <table>
  <h5>=> Built in time of "<%= @landmark.figure.name %>" <=</h5>

<a class="button" href="/landmarks/<%= @landmark.id %>/edit">Edit Landmark</a>
<a class="button" href="/landmarks">Landmarks</a>
